@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";

@theme {
  --color-primary: #1392ec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101a22;

  --font-display: "Inter", sans-serif;

  --radius-lg: 1rem;
  --radius-xl: 1.5rem;

  --animate-fade-in-up: fade-in-up 600ms ease-out both;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* Ensure dark mode works with 'dark' class */
@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  }
}

@layer base {
  body {
    min-height: 100vh;
    /* fallback */
    min-height: max(884px, 100dvh);
  }
}